*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 5);
    font-family: "Ubuntu", sans-serif;
    color: #fff;
}
nav{
    display: flex;
    background-color: rgb(6, 6, 31);
    justify-content:space-around;
    align-items: center;
    height:9vh;
    text-decoration: none;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    text-decoration: none;

}
nav ul li{
    list-style:none;
    color: #fff;
    margin: 0 23px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;;
}
nav ul li a:hover{
    color: lavender;
} 
.nav #logonm{
    color: ;
}  
.left{
    font-size:32px;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 110px 0;
}
.leftSection{
    width:65px;
    font-size: 3rem;
    margin: 40px 0;
}
.tagName{
    color: purple;
}
.rightSection img{
    width: 80%;
    border-radius:30% 4% 30% 4%;
    margin-top:30px;
    rotate:inherit;
    
}
.rightSection{
    width: 34px;
    
}
.firstSection div{
    width: 30%;
   
}
.secondSection{
   background-color:rgb(3, 3, 17);
   width: 100%;
}

.leftabt img{
    width: 80%;
    margin: 20px 80px 0;
    margin-bottom: 20px;
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
    width:30%;
}
.secondSection{
    display: flex;
    justify-content: space-around;
    margin:80px 0;
}
.leftabt{
    margin: 70px 0;
}
.leftabt .brdr{

}
.rightabt{
    margin: 70px 20vh;
    width:80%;

}
.rightabt p{
    margin-top: 20px;
    color: #b0b0b0;
    line-height:1.5rem;
    word-spacing:3px;
}
.rightabt #btn{
    margin-top: 15px;
    border: 0;
    background: none;
    color: #1a1a1a;
    background-color:  rgb(187, 182, 17);
    height:7vh;
    width: 24%;
    border-radius:5px;
    font-size: 16px;
    font-family: "ubuntu","sans-sarif";
    cursor: pointer;
    word-spacing:5px;
}
.rightabt #btn:hover{
    background-color:rgb(230, 225, 100) ;
}
.thirdSection{
    justify-content: space-around;
    display:inline-block;
    width: 100%;
}
.container .box {
    width: 225px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius:6px;
    margin: 15px 0;
    background-color: rgb(6, 6, 27);
}
.box p{
    color: #b0b0b0;
    line-height:1.5rem;
    word-spacing:3px;
}
.service{
    margin:0 14%;

}
.service p{
    margin-top:20px;
    color: #b0b0b0;
    line-height:1.5rem;
    word-spacing:3px;
    margin-bottom: 25px;
}
.service h1{
    font-size:29px;
    font-weight: 700;
}
.container{
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container .box{
    padding:20px
}
.box:hover{
    box-shadow: 10px 10px 54px rgba(41, 40, 58, 0.6);
}
.container .box p{
    margin-top: 15px;
}
.rightfooter #btn{
    margin-top:20px;
    border: 0;
    background: none;
    color: #1a1a1a;
    background-color:  rgb(187, 182, 17);
    height:6vh;
    width:40%;
    border-radius:5px;
    font-size: 16px;
    font-family: "ubuntu","sans-sarif";
    cursor: pointer;
    word-spacing:5px;
}
.rightfooter #btn:hover{
    background-color:rgb(230, 225, 100) ;
    
}
.footer{
    background-color:rgb(3, 3, 17);
    width: 100%; 
    height:150%;
    margin-bottom: 25px;
}
.centerfooter{
    background-color:rgb(3, 3, 17);
    margin-top: 35px;
    text-align: center;
    justify-content: center;
}
.containerfooter{
    display: flex;
    justify-content: space-around;
    margin:80px 0 0;
    
}
.centerfooter p{
    color: #b0b0b0;
    line-height:1.5rem;
    word-spacing:3px;
    margin-bottom: 25px;

}
.leftfooter p{  
    color: #b0b0b0;
    margin-bottom: 25px;

}
.rightfooter{
    display:inline;
    width:30%;
    text-align: start;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius:10px;
    margin: 15px 20px;
    background-color: rgb(6, 6, 27);

}
.rightfooter:hover{
    box-shadow: 10px 10px 54px rgba(41, 40, 58, 0.6);

}
.rightfooter #namein,#textin{
    display:flex;
    height: 40px;
    width:30vh;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 15%;
    justify-content: space-between;
    text-align: center;
    background-color: #b0b0b0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border:0;
}
.rightfooter #textcm{
    margin-top: 10px;
}